# History files
.Rhistory

# Example code in package build process
*-Ex.R

# R data files from past sessions
.Rdata

# RStudio files
.Rproj.user/
.Rproj.user
.RData
.DS_Store
*.swp
*~
*Rproj

# Contains passwds etc
config.R
passwords.R

# csv files (they are in Dropbox)
R/res/results/*.csv
R/res/*.csv
*.csv

R/out/*
